# podeli
[includeIf "gitdir:~/project/podeli/"]
      path = .gitconfig-podeli

# public
[includeIf "gitdir:~/project/public/"]
      path = .gitconfig-public
[includeIf "gitdir:~/project/tmp/"]
      path = .gitconfig-public


[core]
    autocrlf = input
[alias]
    l   = log --oneline --graph --decorate
    st  = status
    br  = branch
    c   = checkout
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
    default = current
[pager]
    show = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight |less
    diff = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight |less
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[credential]
    helper = osxkeychain
[commit]
    gpgsign = true